backend/step-functions/simulation-workflow.asl.json
{
  "Comment": "Watershed spill simulation state machine. Express Workflow. Execution ARN is the simulation session ID.",
  "StartAt": "VALIDATE_INPUT",
  "States": {
    "VALIDATE_INPUT": {
      "Type": "Task",
      "Resource": "${SpillInitializerArn}",
      "Parameters": {
        "action": "validate",
        "input.$": "$"
      },
      "ResultPath": "$.validated",
      "Next": "LOAD_RIVER_GRAPH"
    },
    "LOAD_RIVER_GRAPH": {
      "Type": "Task",
      "Resource": "${SpillInitializerArn}",
      "Parameters": {
        "action": "loadGraph",
        "region.$": "$.validated.region"
      },
      "ResultPath": "$.graph",
      "Next": "INITIALIZE_STATE"
    },
    "INITIALIZE_STATE": {
      "Type": "Task",
      "Resource": "${SpillInitializerArn}",
      "Parameters": {
        "action": "seed",
        "input.$": "$"
      },
      "ResultPath": "$.state",
      "Next": "RUN_TICKS"
    },
    "RUN_TICKS": {
      "Type": "Map",
      "ItemsPath": "$.state.tickSchedule",
      "MaxConcurrency": 1,
      "Iterator": {
        "StartAt": "Propagate",
        "States": {
          "Propagate": {
            "Type": "Task",
            "Resource": "${TickPropagatorArn}",
            "Next": "CheckThresholds"
          },
          "CheckThresholds": {
            "Type": "Task",
            "Resource": "${ThresholdCheckerArn}",
            "End": true
          }
        }
      },
      "ResultPath": "$.tickResults",
      "Next": "GENERATE_REPORT"
    },
    "GENERATE_REPORT": {
      "Type": "Task",
      "Resource": "${ReportGeneratorArn}",
      "End": true
    }
  }
}
