backend/step-functions/simulation-workflow.asl.json
{
  "Comment": "DownStream watershed spill simulation",
  "StartAt": "VALIDATE_INPUT",
  "States": {
    "VALIDATE_INPUT": {
      "Type": "Pass",
      "Parameters": {
        "input.$": "$",
        "simulationId.$": "$$.Execution.Id"
      },
      "Next": "LOAD_RIVER_GRAPH"
    },
    "LOAD_RIVER_GRAPH": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SpillInitializerFnArn}",
        "Payload": {
          "phase": "load",
          "input.$": "$.input",
          "simulationId.$": "$.simulationId"
        }
      },
      "ResultPath": "$.graph",
      "Next": "INITIALIZE_STATE"
    },
    "INITIALIZE_STATE": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SpillInitializerFnArn}",
        "Payload": {
          "phase": "init",
          "input.$": "$.input",
          "simulationId.$": "$.simulationId",
          "graph.$": "$.graph.Payload"
        }
      },
      "ResultPath": "$.state",
      "Next": "RUN_TICKS"
    },
    "RUN_TICKS": {
      "Type": "Map",
      "ItemsPath": "$.state.Payload.tickSequence",
      "MaxConcurrency": 1,
      "Parameters": {
        "simulationId.$": "$.simulationId",
        "input.$": "$.input",
        "graphS3Key.$": "$.graph.Payload.graphS3Key",
        "tick.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "PROPAGATE",
        "States": {
          "PROPAGATE": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${TickPropagatorFnArn}",
              "Payload.$": "$"
            },
            "ResultPath": "$.propagation",
            "Next": "CHECK_THRESHOLDS"
          },
          "CHECK_THRESHOLDS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ThresholdCheckerFnArn}",
              "Payload": {
                "simulationId.$": "$.simulationId",
                "tick.$": "$.tick",
                "propagation.$": "$.propagation.Payload"
              }
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.ticks",
      "Next": "GENERATE_REPORT"
    },
    "GENERATE_REPORT": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ReportGeneratorFnArn}",
        "Payload": {
          "simulationId.$": "$.simulationId",
          "input.$": "$.input"
        }
      },
      "End": true
    }
  }
}
